@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

html {
    font-family: 'Open Sans', sans-serif;
}

h1, h3 {
    color: #313135;
}

header {
    max-width: 800px;
    padding-bottom: 60px;
    margin: 0 auto;
    text-align: center;
}

#header-grid {
    display: grid;
    grid-template-columns: 800px;
    grid-template-rows: 1fr;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 0 auto;
    color: black;
    padding-top: 30px;
    padding-bottom: 100px;
    border-radius: 10px;
}

#form-grid {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas: 
        "name-label name"
        "email-label email"
        "number-label number"
        "dropdown-label dropdown"
        "recommend-label recommend"
        "checkbox-label checkbox"
        "comments-label comments"
        "submit submit";

}

.labels {
    text-align: right;
    margin-right: 10px;
}

.inputs {
    margin-left: 10px;
    margin-bottom: 50px;
}

input {
    height: 1.7em;
    border-radius: 4px;
}

#name-label {
    grid-area: name-label;
    height: 1.3em;
}

#name {
    grid-area: name;
    width: 150px;
}

#email-label {
    grid-area: email-label;
}

#email {
    grid-area: email;
    width: 150px;
}

#number-label {
    grid-area: number-label;
}

#number {
    grid-area: number;
    width: 150px;
}

select {
    height: 30px;
}

#dropdown-label {
    grid-area: dropdown-label;
}

#dropdown {
    grid-area: dropdown;
    width: 150px;
}

#recommend-label {
    grid-area: recommend-label;
}

#radio-div {
    grid-area: recommend;
}

#checkbox-label {
    grid-area: checkbox-label;
}

#checkbox {
    grid-area: checkbox;
}

#comments-label {
    grid-area: comments-label;
}

#comments {
    grid-area: comments;
}

#submit {
    grid-area: submit;
    background-color: rgb(108, 212, 87);
    color: #FFFFFF;
    font-size: 1em;
    margin: 0 auto;
    border-radius: 4px;
    height: 40px;
    width: 90px;
}